#navItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28292b;
}

#title {
    font-size: 110%;
}

li .navlink {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    position: relative;
}

li .navlink:hover {
    color: #58595b;
}

li {
    float: left
}

.navlink, .navlink:visited {
    text-decoration: none;
    color:white;
}
.navlink:active {
    text-decoration: none;
    background-color: #58595b;
    color:white
}