<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Get Involved</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/navigation/navigation.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/Vida.css}"/>
</head>
<body>
    <div th:include="fragments/navbar :: navigationBar"></div>

    <form id="getInvolved" method="post" th:action="@{/GetInvolved/Create}">
        <table>
            <tr>
                <td>What is your name?</td>
                <td><input type="text" name="name"/></td>
            </tr>

            <tr>
                <td>What is your email address?</td>
                <td><input type="text" name="email"/></td>
            </tr>

            <tr>
                <td>What is your phone number?</td>
                <td><input type="text" name="phone"/></td>
            </tr>

            <tr>
                <td>Any additional comments?</td>
                <td><textarea rows="10" cols="100" name="message"></textarea></td>
            </tr>

            <tr>
                <td><input id="getInvolvedSubmitButton" type="submit" name="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>