<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Conozca sus Derechos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/navigation/navigation.css}" />
</head>
<body>
    <div th:include="fragments/navbar :: navigationBar"></div>
    <div id="header">
        <h1>CONOZCA SUS DERECHOS</h1>
    </div>
    <p>¿Tiene miedos? ¡No temas! Haga clic aquí para aprender más. <a href="https://www.lirs.org/no-temas">No Temas</a></p>
</body>
</html>